<div class="summary-card">
    <div class="card-animation">
    </div>
    <div class="card-content">
        <div class="top">
            <div class="name-and-time">
                <div class="location-name"></div>
                <div class="time"></div>
            </div>
            <div class="current-temp"></div>
        </div>
        <div class="bottom">
            <div class="text-summary"></div>
            <div class="temp-high"></div>
            <div class="temp-low"></div>
        </div>
    </div>
</div>