<div class="card-animation">
</div>
<div class="weather-page">
    <div class="overview">
        <p class="location">${data.location}</p>
        <p class="detail-current-temp">${data.currentTemp}</p>
        <div class="lowhigh">
            <p class="high"></p>
            <p class="low"></p>
        </div>
    </div>
    <div class="forcast-24hr">
        <div class="desc"></div>
        <div class="24-hour"></div>
    </div>
    <div class="forcast-10days"></div>
    <div class="air-quality"></div>
    <div class="feels-like"></div>
    <div class="uv-index"></div>
    <div class="wind"></div>
    <div class="sunset"></div>
    <div class="precipitation"></div>
    <div class="visibility"></div>
    <div class="humidity"></div>
    <div class="moon-phase"></div>
</div>